@import 'tailwindcss';

@plugin "daisyui" {
  /* 配置 DaisyUI 主题 */
  themes:
    light,
    dark,
    cupcake --default,
    bumblebee,
    emerald,
    corporate,
    synthwave,
    retro,
    cyberpunk,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula,
    cmyk,
    autumn,
    business,
    acid,
    lemonade,
    night,
    coffee,
    winter,
    dim,
    nord,
    sunset;
}

[data-theme='cupcake'] {
  --color-base-100: oklch(96.86% 0.007 90.45); /* #F4F3EE */
  --color-base-200: oklch(93.5% 0.01 90.45);
  --color-base-300: oklch(90% 0.013 90.45);
}
